body
{
	margin: 0;
	padding: 0;
	color: #2D3C65;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background-color: #FAF9F6;
}

body.lyricpage
{
	background-color: #FBF8E5;
	color: #2D3C65;
	font: normal 11pt Verdana,Arial,Helvetica,sans-serif;
	margin: 4px;
	padding: 10px;
}

h1
{
	margin: 4px;
	padding: 10px;
	font: normal 20pt Comic Sans MS, Verdana, Arial, Helvetica, sans-serif;
	color: #8F1407;
}

h2
{
	margin: 4px;
	padding: 10px;
	font: normal 16pt Comic Sans MS, Verdana, Arial, Helvetica, sans-serif;
	color: #8F1407;
}

span
{
	color: #2D3C65;
	font: normal 11pt Verdana,Arial,Helvetica,sans-serif;
}

table
{
	margin: 4px;
	padding: 10px;
	border: none /* 2px double #C6CECE; */
	border-radius: 25px;
	background-color: #E4F2E5;
	font: normal 11pt Arial,Helvetica,sans-serif;
}

table#songlist_tbl
{
	width=90%;
}

tr.tr_spacer
{
	line-height: 1px;
}

th 
{
	/* border: 1px solid black; */
	padding: 10px;
	font: bold 14pt Comic Sans MS, Verdana, Helvetica,sans-serif;
	/* border: 1px solid #E6E6E6; */
	background-color: #EEF0F0;  /* #E1E7E7;  /* #E6E1D0;  */
	color: #2D3C65;   /* #021098;  #8F1407; */
	text-align: center;
}

td 
{
	margin: 4px;
	padding: 10px;
	border: 1px solid #E6E6E6;
	background-color: #F5FFFA;   /* #F9F2D5; */
	font: normal 11pt Arial,Helvetica,sans-serif;
}

th.th_spacer
{
	line-height: 1px;
	border: none;
}

th.th_spacer_lyrics
{
	line-height: 1px;
	background-color: #E6F6F8;
	border: none;
}

th.th_spacer_audio
{
	line-height: 1px;
	background-color: #E7F7F1;
	border-right: none;
	border-top: none;
	border-bottom: none;
	border-left: 1px solid #E6E6E6;
}

th.th_lyrics
{
	border: none;
	background-color: #E6F6F8;
	color: #2D3C65;
}

th.th_audio
{
	border-right: none;
	border-top: none;
	border-bottom: none;
	border-left: 1px solid #E6E6E6;
	/* border: 1px solid #E6E6E6;  border: none; */
	background-color: #E7F7F1;
	color: #2D3C65;
}

th.th_subcat
{
	font: normal 12pt Comic Sans MS, Verdana, Helvetica,sans-serif;
	color: #2D3C65;
	border: 1px solid #E6E6E6;
}

th.th_subcat_audio
{
	border: 1px solid #E6E6E6;
	font: normal 12pt Comic Sans MS, Verdana, Helvetica,sans-serif;
	background-color: #E7F7F1;
	color: #2D3C65;
}

div#logo_banner
{
	position: relative;
    width:80%;
    height:auto;
	margin: 4px;
	padding: 10px;
	background-color: #0A0906;
	/* background-color: #797FF5; (testing only) */
	font: normal 11pt Comic Sans MS, Verdana, Arial, Helvetica, sans-serif;
	color: #F3F1E9; 
}

div#logo
{
	/* position: relative; */
	/* float: left; */
	width: 400px;
    height:auto;
	margin: 3px;
	padding: 6px;
}

div#logo_text
{
	width: 330px;
	position: absolute; 
	/* float: right; */
    top: 2px;
	left: 500px;
	right: 10px;
	margin: 2px;
	padding: 4px;
	background-color: #0A0906;
	font: normal 9pt Comic Sans MS, Verdana, Arial, Helvetica, sans-serif;
	color: #F5FFFA;   /* #F3F1E9; */
}

div#logo_attrib
{
	margin: 3px;
	padding: 6px;
	font: normal 8pt Comic Sans MS, Verdana, Arial, Helvetica, sans-serif;
	color: #021098;
}

div#songlist_div
{
	width: 70%;
	margin: 3px;
	padding: 6px;
	background-color: #F6FAF8;
}

span.lyricsongtitle
{
	color: #2D3C65;
	font: bold 14pt Arial,Helvetica,sans-serif;
}

span.lyricredits
{
	color: #2D3C65;
	font: italic 10pt Arial,Helvetica,sans-serif;
}

span.lyrichorus
{
	color: #2D3C65;
	font: bold;
}

span.lyricbridge
{
	color: #2D3C65;
	font: bold;
}

span.lyricopyright
{
	color: #2D3C65;
	font: italic 10pt Arial,Helvetica,sans-serif;

}